<form method="post" action="{{ path('app_journey_delete', {cyclist: journey.cyclist.id, id: journey.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce voyage ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ journey.id) }}">
    <button class="btn btn-delete-journey">Supprimer le voyage</button>
</form>