{% extends "base.html.twig" %}

{% block body %}
<div class="new-journey-frame row h-100 d-flex justify-content-center">
	<div class="new-journey-form col-10 col-md-8 col-lg-6 justify-content-center">
		<h1 class="text-center write-journey mt-5 mb-4">Ajouter un voyage</h1>
		{{ include('journeys/_form.html.twig') }}
	</div>
</div>
{% endblock %}
