.card {
    background-color: $turquoise;
}

.card-title {
    font-family: 'Ribeye Marrow';
}

.card-text {
    font-family: 'Simonetta';
    font-size: 0.8rem;
}

.btn-journey {
    background-color: $yellow;
}