#dropdownMenu2 {
    width: 7em;
    background-color: transparent;
    border-color: $red;
    color: $green;
    width: 97vw;
    filter: brightness(75%);
}

.dropdown-menu {
    background-color: $green;
    width: 100%;
}

.dropdown-menu > li > button{
    text-align: center;
    padding: 0;
}

.card {
    background-color: $green;
    filter: brightness(75%);
}

.card-title {
    font-family: 'Ribeye Marrow';
}

.card-text {
    font-family: 'Simonetta';
    font-size: 1rem;
    font-weight: 500;
}

.card-img-top {
    height: 13rem;
    filter: brightness(75%);
}

.btn-journey {
    background-color: $blue;
    color: $green;
}