.form-container {
    height: 100vh;
}

.login-form {
    width: 30vw;
    background-color: $turquoise;

    button {
        background-color: $red;
        font-family: 'Cambay';
    }

    label {
        color: $blue;
        font-family: 'Cambay';
    }
}