.navbar-brand {
    font-family: 'Ribeye Marrow';
    color: $red;
    font-size: 2rem;
}

.nav-link {
    color: $yellow;
    font-family: 'Cambay';
    font-size: 1.2rem;
}

.nav-img {
    height: 3em;
}

.navbar-collapse {
    height: 3em;
}

.logged-user {
    color: $turquoise;
    font-family: 'Cambay';
    font-size: 1.2rem;
}